body {
    background-color: gray;
}

p {
    color: white;
}

.pinkFlower {
    width: 200px;
    height: 200px;
}

.container{
    margin: 20px;
    padding: 20px;
}

.title {
    text-align: center;
    color: hotpink;
    
}

.pinkFlower {
    float:left;
    display:inline;
    padding: 10px;
    margin-right: 10px;
}

.song {
    clear: both;
}

td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: pink;
    color: white;
}